<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset invoice.css @encoding=utf8}
        </style>
    </head>
    <body>

        <div class="invoice-box">
                    <div class="uper">
            <div class="uleft">
               <h1>Doctor Paint</h1>
               <h7>Muththettugala, Kurunegala</h7>
            </div >
            <div class="uright">
                <h3>Kurunegala</h3>
               <h5>077154575/0711245124</h5>
            </div>
        </div>
         <div class="hdr">
        <h2 class="hdr-txt">Sales Invoice</h2>
            
        </div>
            <table>
                     <tr >
                   <td colspan="2" class="" >Invoice No</td>
                   <td colspan="2" class="" >: {{mainData.invoiceNumber}}</td>
                   <td colspan="2" class="" > </td>
                   <td colspan="2" class="tar" >Invoice Date</td>
                   <td colspan="2" class="" >: {{mainData.createdAt}}</td>
               </tr>
               <tr >
                   <td colspan="2" class="" > Customer Name</td>
                   <td colspan="2" class="" >: {{customer.customerName}}</td>
                   <td colspan="2" class="" > </td>
                   <td colspan="2" class="tar" >Job No</td>
                   <td colspan="2" class="" >: {{mainData.taskId}}</td>
               </tr>
               <tr >
                   <td colspan="2" class="" >Address </td>
                   <td colspan="2" class="" >: {{customer.address}}</td>
                   <td colspan="2" class="" > </td>
                   <td colspan="2" class="tar" >Make</td>
                   <td colspan="2" class="" >: {{vehicle.vehicleRegisteredYear}}</td>
               </tr>
                 <tr >
                   <td colspan="2" class="" >Mob No</td>
                   <td colspan="2" class="" >: {{customer.contactNumber}}</td>
                   <td colspan="2" class="" > </td>
                   <td colspan="2" class="tar" >Mop</td>
                   <td colspan="2" class="" >: - </td>
               </tr>
               <tr >
                   <td colspan="2" class="" > Vehicle No</td>
                   <td colspan="2" class="" >: {{mainData.vehiclePlateNumber}}</td>
                   <td colspan="2" class="" > </td>
                   <td colspan="2" class="" ></td>
                   <td colspan="2" class="" ></td>
               </tr>
               <tr >
                   <td colspan="2" class="" >In Meter Reading </td>
                   <td colspan="2" class="" >: {{vehicle.meterReading}}</td>
                   <td colspan="2" class="" >Next service : {{vehicle.nextService}} </td>
               </tr>
                   <tr class="blank_row">
            <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
        </tr>
            </table>
            
            <table cellpadding="0" cellspacing="0">
                <thead>
                <tr class="tr-border" >
                   
                    <td>
                       Parts / Service Desc:
                    </td>
                      <td>
                       Unit
                    </td>
                    
                      <td>
                        Qty
                    </td>
                      <td>
                       Rate
                    </td>
                      <td>
                      Dis
                    </td>
                          <td >
                      Value
                    </td>
                    
                    
                    
                    
                </tr>
                </thead>
                {{#each mainData.taskRelatedItems}}
                <tr class="item">
                    <td class="aw">
                        {{inventoryItem.itemName}}
                    </td>
                    <td>
                     1
                    </td>
                   
                    <td>
                    1
                    </td>
                    <td>
                     {{inventoryItem.itemSellingPrice}}
                    </td>
                      <td>
                    0.00
                    </td>
                           <td >
                   {{inventoryItem.itemSellingPrice}}
                    </td>
                  
                </tr>
                {{/each}}
               <tr class="blank_row">
            <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
        </tr>
        <tr >
                     <td colspan="4" class="" > <b>Remarks : </b> </td>
                   <td colspan="1" class="" > Service Charge </td>
                   <td colspan="1" class="tar" >  {{mainData.taskServiceCharge}}</td>
               </tr>
                 <tr >
                      <td colspan="4" class="" ></td>
                   <td colspan="1" class="" > Total Sum </td>
                   <td colspan="1" class="tar" >  {{mainData.taskEstimatedPrice}}</td>
               </tr>
                 <tr >
                      <td colspan="4" class="" >  </td>
                   <td colspan="1" class="" >Discount</td>
                    <td colspan="1" class="tar" > {{mainData.discount}}</td>
               </tr>
              <tr >
                      <td colspan="4" class="" > _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </td>
                   <td colspan="1" class="" >Invoice Total</td>
                   <td colspan="1" class="tar-val " >  {{mainData.totalInvoiceAmount}}</td>
               </tr>
                   <tr >
                      <td colspan="1" class="tar-cent" > Authorized By </td>
                      <td colspan="4" class="" >  </td>
                   <td colspan="1" class="tar-bot" > </td>
               </tr>
            </table>
        </div>
    </body>
</html>