.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}
.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}
.invoice-box table td {
    padding: 1px;
    vertical-align: top;
    width:auto;
}


.tr-tot{
    background:#bdbdbd;
    padding:0px !important;
    
}
.tr-tot-b{
    background:#e0e0e0;
    padding:0px !important;
    
}
.tr-tot-u{
    background:#eeeeee;
    padding:0px !important;
    
}
.tr-pm{
    
    padding:0px !important;
    text-align:right !important;
}

.tr-totu{
    background:#bdbdbd;
    padding:0px !important;
    text-align:right !important;
    
}
.tr-tot-bu{
    background:#e0e0e0;
    padding:0px !important;
    text-align:right !important;
}
.tr-tot-uu{
    background:#eeeeee;
    padding:0px !important;
    text-align:right !important;
}
.tr-non{
    
    padding:0px !important;
}
.tot-col{
    padding-top:20px !important;
    font-size:20px;
    text-align:right !important;
}
.box{
    border-style: solid;
  border-width: thin;
  height:150px;
  width:90%;
    text-align:center;
    display: inline-block;
    
    margin-bottom:10px;
    margin-top:10px;
}
.box-cancel{
    width:100%;
       border-style: solid;
  border-width: thin;
  height :auto;
}
.hdr{
    width:100%;
    
    text-align:center;
}
.hdr-txt{
    margin-top:-30px !important;
    margin-left:50px;
}
.box>table{
    
    text-align:center !important;
}
.tar{
    text-align:right;
}
.uper{
    width:100%;
     display: inline;
    
}
.uright{
    margin-top:-90px;
    float:right;
}
.sm{
    font-size:14px !important;
}

.ctr{
    
    text-align:center !important;
}
.box-table{
    width:100%;
       border-style: solid;
  border-width: thin;
  height :auto;
}
.box-div{
    width:100%;
    height:auto;
    text-align:center;
}
.tr-border { 
    background:#eeeeee; 
    padding:5px;}

.amt{
    text-align:right !important;
}
td{
    width:auto ! important;
}
.tar-cent{
    text-align:center;
}
.tar-val{
    text-align:right !important;
    border-top: 1px  solid black;
    border-bottom: 1px  solid black
}
.tar-bot{
    border-top: 1px  solid black;
}

.tr-border td{}

 thead
        {
            display: table-header-group;
        }
        tfoot
        {
            display: table-footer-group;
        }